<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Create New Chat</title>
  </head>
  <body>
    <h1>Create New Chat</h1>
    <form action="/chats" method="post">
      From : <input type="text" name="from" /><br /><br />
      To : <input type="text" name="to" /><br /><br />
      <textarea name="msg" id="msg" placeholder="Type the Message"></textarea
      ><br /><br />
      <button type="submit">Send</button>
    </form>
  </body>
</html>
